html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="./css/style.css")
    block head
      // additional heads.

  body
    block header
      // header contents appeared.
    block content
      // main contents appeared.

    block footer
      // footer contents appeared.

    script(type="text/javascript" src="./main.js")
    block scripts
      // additional scripts.